body {
    font-family: Verdana, Helvetica, FreeSans, sans-serif ;
  background-color: gainsboro;
}


header h1 { 
    /* color: rebeccapurple; */
    color: #663399;  /* this is the same as rebeccapurple - for some reason the CSS code verification didn't like rebecaapurple */ 
    font-size: 1.2rem;
    padding: 0.8rem;  /* add space around h1 - otherwise it gets crowded */
    font-family: "Fjord One", Helvetica, FreeSans, sans-serif ;  /* use google font "Fjord One" = sort of Norwegian */
    width: 85% ;  /* note setting entire page width to max of 85% */
    text-align: center ;
    font: bold ;
}

section h2 {
    color: #663399;   
    font-size: 1.1rem;
    padding: 1.0rem; 
    font-family: Muli, Helvetica, FreeSans, sans-serif ;  /* use google font Muli */
    text-align: center ;
    font: bold ;
}
p.center {
    font-size: 0.85rem;
    font-family: Muli, Helvetica, FreeSans, sans-serif ;  /* use google font Muli */
    text-align: center ;
    padding: 0rem 4rem 0.8rem 4rem;
}
p.narrow {
    font-size: 1.0rem;
    font-family: Lato, Helvetica, FreeSans, sans-serif ;  /* use google font Lato */
    padding: .8rem 4rem 0rem 4rem;
}
p.indent {
    font-size: 0.9rem;
    font-family: Lato, Helvetica, FreeSans, sans-serif ;  /* use google font Lato */
    padding: .8rem 0rem 0rem 4rem;
}


/* These CSS elements are used to create a horizontal menu bar to appear at the top in <nav>
        Only apply this to class "nav"  - separate code for "leftbar"  */
    /* First, remove the bullets and the margins and padding from the menu ul list */
ul.navbar{
      font-size: 0.8rem;
      list-style-type: none;         /* removes the bullets */
      overflow: hidden;              /*  hidden:if it goes off page - hide */
      background-color: #663399;     /* = rebeccapurple  */
      font-family: Verdana, Helvetica, FreeSans, sans-serif ;
      width: 85% ;  /*set menu bar to extend horizontally across page  keep this to 80% */
}
    
    li.navbar { 
        color: white ;
        float: left;
        border-right: 3px solid gray ;  /* add a border vertical line to separate the list names */
        width: 20% ;  /* not sure what is the best way - use width or padding? would like to find... */ 
                      /* ...a method to display across the entire width  */
}
    
    li.navbar a {
        display: block ;
        color: white ; 
        text-align: center ;
        padding: 16px 10px;
        text-decoration: none ; 
        list-style-type: none ;
}
    /* Change the link color to green on hover if .active:  not instantiated */
    li.navbar a:hover:not(.active) {
      background-color: darkgreen; 
}

    /* Change color of active link to slategray to let users know which page they are on 
      This is applied to both top menu bar and the left navigation bar */
    .active {
    background-color: slategray;
}

 aside {  
  /* clear float, float=left;  background color=mediumpurple font color=white */
    clear: both ;
    float: left;
    min-height: 40em;    /* set minimum height to match article height */
    width: 15%;
    color: white ;
    background-color: mediumpurple;  
} 

  /* "leftbar" is the navigation bar on the left used to select the photo to be displayed
     In aside add ul & define class=leftbar */
ul.leftbar{
      list-style-type: none;  /* removes the bullets */
      overflow: hidden; 
      font-family: Verdana, Helvetica, FreeSans, sans-serif ;
} 
    li.leftbar  { 
        margin: auto; 
        color: white ;
        padding: 1rem 1rem 1rem 1rem ;  /* add padding  */ 
} 
    
    li.leftbar a  {
        color: white ; 
        display: block ;  /* make this a block without borders - so that padding can be added ... */ 
                          /* ...to better highlight selection  */
        padding: 14px 4px ;  /* padding is added to the block area to space out text and highlight bckgrnd */
        font-size: 0.8rem ;
        text-align: center ;
        text-decoration: none ; 
        list-style-type: none ;
}
    /* Change the link color to darkgray on hover  */
    li.leftbar a:hover:not(.active) {
      background-color: slategrey; 
      }

section {
      background-color: darkgray;  
      font-family: Lato, Helvetica, FreeSans, sans-serif ;
      font-size: 0.8rem;
      float: left; 
      width: 70%;   /* nav bar on left=15% - make this 65% for a total of 80% width */
      min-height: 40rem;   /* set minimum height to match left navigation bar */
      margin: auto;
}
ul.nominal{
      font-family: Verdana, Helvetica, FreeSans, sans-serif ;
      padding: 0.8rem 0rem 0rem 10rem ;  /* indent to right 10rem  */ 
} 
    li.nominal  { 
        padding: 0.8rem 0rem 0rem 10rem ; /* indent to right 10rem  */
}
 li.nominal a  {
      padding: 1px 1px ;  /* padding is added to space out text  */
      font-size: 0.8rem ;
      text-align: left ;
}

figure {
/* Center, size of the font */  
      align-content: center;
      margin: 2rem 0 1rem 0;
      background-color: darkgray;  
      text-align: center;  /* use this to put figure in the center */
      font-family: Asap, Helvetica, FreeSans, sans-serif ;     /* use google font Asap  - works great as citation */
}

  figcaption {
      text-align: center;
      font-family: Asap, Helvetica, FreeSans, sans-serif ;      /* use google font Asap  - works great as citation */
      font-size: 0.8rem; 
      padding: 0rem 4rem 0.5rem 4rem;
}

.footer {
      clear: both ; 
      width: 85%; 
      background-color: slategrey;
      color: white;
      text-align: center;
      padding: 0.8rem 0rem 0.8rem 0rem ; /* add more padding */
      font-family: Verdana, Helvetica, FreeSans, sans-serif ;
      font-size: 0.8rem; 
}